/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .refact-dummy-email__body {
    padding:20px;
}
.refact-dummy-email__content {
    max-width: 600px;
    margin: auto;
}

.refact-styles-wrap *{
    box-sizing: border-box;
}

.refact-styles-wrap {
    display: flex;
    flex-wrap: wrap;
}

.refact-styles-header {
    width: 100%;
    min-height: 20px;
}

.refact-styles-sidebar {
    width: 25%;
    background-color: #fff;
    border-radius: 1em;
}

.refact-styles-sidebar > p {
    padding: 1em;
    margin: 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-radius: 1em 1em 0 0;
}

.refact-styles-body {
    width: 75%;
}

.refact-dummy-email {
    border-radius: 1em;
    margin: 0 20px;
    overflow: hidden;
}