/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wpfac-stats{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: block;
    margin: 20px 0;
    text-align: left;
}

.wpfac-stats li{
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}

.wpfac-stats li b{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}
.wpfac-stats li span{
    display: block;
    color: seagreen;
    font-size: 20px;
    font-weight: bolder;
}

.wpfac-card {
	margin-bottom: 12px;
}

.re-beehiiv-wrapper fieldset {
	margin-bottom: 16px;
}

.beehiiv-toggle-section {
	margin-bottom: 10px;
}
.beehiiv-toggle-section h3 {
	cursor: pointer;
}
.beehiiv-toggle-section .content {
	display: none;
}
.beehiiv-toggle-section.open .content {
	display: block;
}

.re-beehiiv-tabs {
    padding-bottom: 10px;
}