/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpfac-stats {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: block;
    margin: 20px 0;
    text-align: left;
}

.wpfac-stats li {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}

.wpfac-stats li b {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.wpfac-stats li span {
    display: block;
    color: seagreen;
    font-size: 20px;
    font-weight: bolder;
}

.wpfac-card {
    margin-bottom: 12px;
}

.re-beehiiv-wrapper fieldset {
    margin-bottom: 16px;
}

.beehiiv-toggle-section {
    margin-bottom: 10px;
}

.beehiiv-toggle-section h3 {
    cursor: pointer;
}

.beehiiv-toggle-section .content {
    display: none;
}

.beehiiv-toggle-section.open .content {
    display: block;
}

.re-beehiiv-wrap {
    margin-inline-end: 1rem;
}

.re-beehiiv-wrapper {
    background: #fff;
    padding: 16px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #ccc;
}

.border-t-0 {
    border-top: 0 !important;
}

.nav-tab-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0;
}


.nav-tab-wrapper .re-nav-tab {
    padding: 12px 20px;
    display: inline-block;
    color: #6f6f6f;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-tab-wrapper .re-nav-tab-active {
    color: black;
    border-bottom: 2px solid #003233;
}

.nav-tab-wrapper .re-nav-tab:hover {
    color: black;
}

.re-beehiiv-heading h1 {
    margin-bottom: 0;
}

.re-beehiiv-heading p {
    margin-top: 8px;
    font-size: 14px;
    color: #6f6f6f;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-4 {
    padding-right: 1rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.re-beehiiv-import-fields h2:first-child {
    margin-top: 0;
}

.mt-0 {
    margin-top: 0;
}

.d-block {
    display: block;
}

.re-beehiiv-settings-disconnect {
    transition: all 0.3s ease-in-out;
    padding: 10px 32px !important;
    height: auto !important;
    border-radius: 3px !important;
    text-align: center !important;
    line-height: 2.15384615;
    display: inline-block;
}

input#re-beehiiv-start-import,
.re-beehiiv-settings-save {
    background-color: #003233 !important;
    border-color: #005c5e !important;
    transition: all 0.3s ease-in-out;
    min-width: 200px;
    color: #fff !important;
    padding: 10px 16px !important;
    height: auto !important;
    border-radius: 3px !important;
    text-align: center !important;
    line-height: 2.15384615;
    display: inline-block;
}

input#re-beehiiv-start-import:hover,
.re-beehiiv-settings-save:hover {
    background-color: #005c5e !important;
    border-color: #005c5e !important;
}

input#re-beehiiv-start-import:disabled,
.re-beehiiv-settings-save:disabled {
    background-color: #ccc !important;
    border-color: #ccc  !important;
}

.re-beehiiv-import-form--hide_canceled .re-beehiiv-import--notice.re-beehiiv-import--notice-canceled {
    display: none;
}

.re-beehiiv-import--notice {
    background: #e6e6e6;
    padding: 20px 16px;
    border-radius: 3px;
    margin-bottom: 16px;
    position: relative;
}

.re-beehiiv-button-secondary {
    cursor: pointer;
    padding: 4px 10px;
    background-color: transparent;
    box-shadow: none;
    border: solid #767676;
    border-radius: 3px;
    color: #232323;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.re-beehiiv-button-secondary:hover {
    background-color: #767676;
    color: #fff;
}

.re-beehiiv-import--notice .re-beehiiv-button-cancel {
    top: 20px;
    right: 16px;
    position: absolute;
}

.re-beehiiv-import--notice .re-beehiiv-button-cancel:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: transparent !important;
    color: #232323;
}

.re-beehiiv-import--notice h4 {
    margin: 0 0 16px;
}

.re-beehiiv-import--notice .description {
    margin-bottom: 0;
}

.re-beehiiv-import--notice ul {
    list-style: disc;
    margin-inline-start: 20px;
    margin-top: 8px;
    margin-bottom: 0;
}

.re-beehiiv-import--notice.re-beehiiv-import--notice-error {
    background: #ffcaca;
}

.re-beehiiv-import--notice.re-beehiiv-import--notice-success {
    background: #abe2e0;
}

.re-beehiiv-import-fields .description,
.re-beehiiv-import-fields--step--content fieldset {
    max-width: 500px;
}

h2.re-beehiiv-import-fields--step--title:after {
    content: attr(data-error-count);
    margin-left: 8px;
    background-color: red;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: 13px;
    visibility: hidden;
}

.re-beehiiv-import-fields--step.has-error h2.re-beehiiv-import-fields--step--title:after {
    visibility: visible;
}

.re-beehiiv-import-fields--step--content fieldset {
    border-radius: 3px;
    padding: 8px;
}

.re-beehiiv-import-fields--step--content fieldset.has-error {
    border: solid red 1px;
}

.re-beehiiv-import-fields label[for]:not([for=""]) {
    margin-bottom: 8px;
    display: block;
}

.re-beehiiv-import-fields--step {
    outline: 3px solid transparent;
    border: 1px solid #e3e3e3;
    height: auto;
    position: relative;
    text-align: left;
    transition: background .1s ease-in-out;
    margin-bottom: 16px;
    border-radius: 3px;
}

.re-beehiiv-import-fields--step--title {
    cursor: pointer;
    display: block;
    font-weight: 500;
    color: #1e1e1e;
    margin: 0;
    padding: 20px;
}

.re-beehiiv-import-fields--step.active .re-beehiiv-import-fields--step--title {
    cursor: default;
    margin-bottom: 16px;
    border-bottom: 1px solid #e3e3e3;
}

.re-beehiiv-import-fields--step--content {
    display: none;
    padding: 0 20px;
}

.re-beehiiv-import-fields--step.active .re-beehiiv-import-fields--step--content {
    display: block;
}

.re-beehiiv-import-fields select {
    min-width: 150px;
}

/* Progress Bar Start */

:root {
    --bar-color: #003233;
    --body-color: #222;
    --text-color: rgb(29, 17, 17);
    --bar-wrap-back-color: #cccccc;
}

.status-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.bar-wrap {
    padding: 6px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 100px;
    background-color: var(--bar-wrap-back-color);
}

.bar {
    width: 0%;
    height: 12px;
    transition: width .15s ease-out;
    background-color: var(--bar-color);
    border-radius: 100px;
    box-shadow: inset -1px -1px 10px rgb(0 0 0 / .5);
}

.percentage {
    align-self: center;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 18px;
}

/* Progress Bar End */
/* Results Log Box Start */
/* with scroll bar */
.result-log {
    height: 290px;
    overflow: auto;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.log {
    border-radius: 3px;
    background-color: #e6e6e6;
    color: #1e1e1e;
    font-size: 12px;
    line-height: 1.5;
}

.result-log .log-item {
    margin-bottom: 4px;
}

.log-item__status {
    background: #cdcdcd;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
}

.log-item__status--success {
    background: #abe2e0;
}

.log-item__status--error {
    background: #ffcaca;
}

.log-item__status--running {
    background: #a5c8ff;
}
/* Results Log Box End */

.re-beehiiv-post_status--fields div label {
    display: inline-block !important;
    min-width: 80px;
    margin-bottom: 0 !important;
}

.re-beehiiv-post_status--field {
    display: flex;
    align-items: center;
}